:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}



#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.link-box {
  max-width: 500px;
  border: 1px solid #ccc; /* 회색 테두리 */
  background-color: #f0f0f0; /* 회색 배경 */
  padding: 20px;
  margin: 40px auto; /* 상단 여백을 40px로 조정 */
  align-items: center;
  font-size: 18px;
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  font-size: 14px;
  margin-top: 20px; /* 페이지 상단 여백 추가 */
}

h1 {
  color: #FF9300;
  font-size: 48px;
}

.template-h1 {
  color: #FF9300;
  font-size: 30px;
}

.system-text {
  font-size: 18px; /* 글자 크기를 18px로 조정 */
  font-weight: bold; /* 볼드체 적용 */
  margin-top: 20px; /* 상단 여백 추가 */
  color: dimgray; /* 폰트 색을 회색으로 변경 */
}

form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #1a1a1a;
}

input[type="text"] {
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#progress-container {
  display: none;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 10px;
}

.progress-bar {
  width: 50px;
  height: 50px;
  border: 10px solid #ccc;
  border-top: 10px solid #007BFF;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

input[type="submit"] {
  padding: 10px 20px;
  background-color: #7F7F7F;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

.help-button {
  background-color: #007BFF;
  color: #fff;
  padding: 5px 10px;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px; /* 버튼을 아래로 이동 */
}

.help-button:hover {
  background-color: #0056b3;
}

#loading-message {
  margin-top: 10px;

}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}